annotated-types==0.7.0
certifi==2025.11.12
charset-normalizer==3.3.2
click==8.3.1
gitdb==4.0.12
GitPython==3.1.45
idna==3.11
intel-openmp==2021.4.0
iterative-stratification==0.1.9
joblib==1.5.2
matplotlib==3.10.6
mkl==2021.4.0
mkl-service==2.4.0
protobuf==6.33.1
pydantic==2.12.4
pydantic_core==2.41.5
PyQt6==6.7.1
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.3
sentry-sdk==2.46.0
setuptools==72.1.0
smmap==5.0.2
tbb==2021.11.0
threadpoolctl==3.6.0
torch==2.3.0+cu121
torchvision==0.18.0+cu121
typing-inspection==0.4.2
urllib3==2.5.0
wandb==0.23.0
wheel==0.45.1
